:root {
  --title: #606060;
  --dot: #232323;
  --dot-active: #e0e0e0;
  --radius: 8px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
  max-width: 628px;
  position: relative;
}

.title {
  font-family: "Enkel", system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.15em;
  text-transform: lowercase;
  color: var(--title);
  margin: 0;
}

.viewport {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 400px;
  border-radius: var(--radius);
}

.track {
  display: flex;
  height: 100%;
  transition: transform 480ms cubic-bezier(0.2, 0.8, 0.2, 1);
}

.slide {
  margin: 0;
  flex: 0 0 100%;
  height: 100%;
  gap: 8px;
}

.slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--radius);
}

.layoutA,
.layoutB,
.layoutC {
  display: flex !important;
  gap: 8px;
  height: 100%;
}

.aSmallColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 0 0 200px;
}
.aSmallTop,
.aSmallBottom {
  flex: 1 1 0;
}
.aBig {
  flex: 1 1 auto;
}

.bLeft,
.bRight {
  flex: 1 1 0;
  min-width: 0;
}

.cBig {
  flex: 1 1 auto;
}
.cSmallColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 0 0 200px;
}
.cSmallTop,
.cSmallBottom {
  flex: 1 1 0;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 12px;
  margin: 0px auto;
}

.dot {
  width: 32px;
  height: 12px;
  border: 0;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.dot::before {
  content: "";
  position: absolute;
  left: 6px;
  top: 5px;
  width: 20px;
  height: 2px;
  background: var(--dot);
  border-radius: 100px;
}
.active::before {
  width: 25px;
  background: var(--dot-active);
}

.controls {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.nav {
  pointer-events: auto;
  background: #232323;
  color: #d6d6d6;
  border: 0;
  width: 36px;
  height: 36px;
  border-radius: 999px;
  display: grid;
  place-items: center;
  opacity: 0;
}

@media (max-width: 1440px) {
  .viewport {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .viewport {
    height: 200px;
  }
}

@media (max-width: 390px) {
  .viewport {
    height: 150px;
  }
}
